* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 5vh 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(230, 230, 230);
}

.wrapper {
  background-color: rgb(162, 234, 252);
  width: 80%;
  margin: 0 auto;
  max-height: 867px;
  min-width: 800px; 
  border-radius: 10px;
  padding-top: 30px;
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.33);
}

.container {
  display: flex;
  width: 100%;
  justify-content: center; 
  padding-top: 25px;
}

/* ----------------------- BUILDING ----------------------- */

.building {
  min-width: 350px;
  position: relative;
  z-index: 10;
  margin-right: 50px;
}

.floor {
  width: 100%;
  background-color: grey;
  border-bottom: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100px;
  position: relative;
}

.floor:first-child, :not(.floor) + .floor {
  border-top: 1px solid black;
}

.entry {
  position: absolute;
  background-color: rgb(78, 78, 78);
  border-left: black 3px solid;
  border-right: black 3px solid;
  border-top: black 3px solid;
  width: 65px;
  height: 60px;
  bottom: 0;
}

.entry--left {
  left: 84px;
}

.entry--right {
  right: 84px;
}

.lift {
  position: absolute;
  background-color: rgb(219, 219, 219);
  width: 59px;
  height: 57px;
  border: 3px solid rgb(92, 92, 92);
  transition: 1s transform ease-in-out;
  z-index: 1;
}

.lift--left {
  bottom: 103px;
  left: 88px;
}

.lift--right {
  bottom: 3px;
  right: 88px;
}

.door {
  background-color: black;
  height: 100%;
  width: 1px;
  margin: 0 auto;
}

.floor-num {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  color: rgb(253, 250, 250);
  display: grid;
  place-items: center;
  font-size: 14px;
}

/* ----------------------- CONTROL PANEL ----------------------- */

.functionality {
  min-width: 255px;
  background-color: grey;
  z-index: 10;
}

.control-panel {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.floor__buttons {
  width: 100%;
  border-bottom: 3px solid black;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.floor__buttons:first-child, :not(.floor__buttons) + .floor__buttons {
  border-top: 1px solid black;
}

.call-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px rgb(90, 90, 90);
}

.call-button:active {
  background-color: rgb(190, 190, 190);
  box-shadow: 0 2px black;
  transform: translateY(3px);
}

.lift-buttons {
  display: grid;
  grid-template-columns: 23px 23px;
  grid-template-rows: 23px 23px 23px;
  grid-gap: 5px;
}

.lift-buttons button {
  border-radius: 3px;
  box-shadow: 0 2px rgb(90, 90, 90);
}

.lift-buttons button:active {
  background-color: rgb(190, 190, 190);
  box-shadow: 0 1px black;
  transform: translateY(1px);
}

button {
  cursor: pointer;
  border: 1px solid black;
  outline: none;
}

button:hover {
  background-color: rgb(190, 190, 190);
  transition: 0.1s all linear;
}

/* ----------------------- GROUND ----------------------- */

.ground {
  height: 200px;
  background: repeating-linear-gradient( -45deg, #000000, #000000 1px, #a77f63 1.5px, #a77f63 20px );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(-105px);
  width: 100%;
  border-top: 5px green solid;
}

/* ----------------------- HEADINGS ----------------------- */

h1 {
  text-align: center;
  padding: 7px 0;
  background-color: rgb(247, 247, 247); 
  width: 470px;
  border-radius: 10px;
  margin: 0 auto;
}

.building-text-cont, .control-panel-text-cont {
  background-color: rgb(162, 234, 252); 
  text-align: center;
  display: flex;
  flex-direction: column;
}

.side-cont {
  display: flex;
}

.side-cont p {
  padding: 10px 0;
}

#side-left--building {
  padding-left: 105px;;
}

#side-right--building {
  padding-left: 83px;;
}

#side-left--control-panel {
  padding-left: 112px;
}

#side-right--control-panel {
  padding-left: 54px;
}
